/* Find me @Jayraydee on twitter! Terms and Conditions: No Refunds on digital goods, If you have questions concerning your order please contact us. Your purchase grants you the right to use and display the images for commercial use via streaming, recorded and rebroadcasted media. Your license does not include the right to redistribute copies in anyway, including but not limited to: advertising, stock photography, print sale profits, or resale of any nature. Your purchase of the original files releases The Seller from any liability due to loss or damage of the images, and also releases the Seller from any obligation to maintain copies of any digital file, image, or photograph. You hereby grant to The Seller the right to use and publish images, graphics, or media to further promote their services, including portfolio, web site, display, advertisement, and editorial use. The Seller agrees to limit the use of these images, graphics, or media to promotional use only. */
[class~=controller][class~=custom] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/base.png')
}

[class~=controller][class~=custom] {
    height: 637.5pt;
}
[class~=controller][class~=custom] {
    width: 787.5pt;
}
[class~=controller][class~=custom] {
    background-position: 0px 0px,0px 0pc;
}
[class~=controller][class~=custom] {
    background-repeat: no-repeat,no-repeat;
}
[class~=controller][class~=custom] {
    -webkit-animation: Callback 600s infinite;
}
[class~=controller][class~=custom] {
    -webkit-animation-delay: 0s;
}
[class~=controller][class~=custom] {
    -webkit-animation-fill-mode: forwards;
}
[class~=custom][class~=disconnected] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/disconnect.png')
}
@keyframes Callback {
    0% {
        background-position: 108px -600px,0px 0px;
   }
    .5% {
        background-position: 108px -600px,0px 0px;
   }
    1% {
        background-position: 108px -150px,0px 0px;
   }
    1.2% {
        background-position: 108px -150px,0px 0px;
   }
    1.7% {
        background-position: 108px -600px,0px 0px;
   }
    100% {
        background-position: 108px -600px,0px 0px;
   }
}
[class~=custom] [class~=triggers] {
    width: 153pt;
}
[class~=custom] [class~=triggers] {
    height: 5.75pc;
}
[class~=custom] [class~=triggers] {
    top: 13px;
}
[class~=custom] [class~=triggers][class~=left] {
    float: left;
}
[class~=custom] [class~=triggers] {
    left: 20px;
}
[class~=custom] [class~=trigger][class~=right],[class~=custom] [class~=trigger][class~=left] {
    top: 31.5pt;
}
[class~=custom] [class~=trigger][class~=right],[class~=custom] [class~=trigger][class~=left],[class~=custom] [class~=triggers],[class~=custom] [class~=bumper],[class~=custom] [class~=quadrant] {
    position: absolute;
}
[class~=custom] [class~=trigger][class~=left] {
    left: .229166667in;
}
[class~=custom] [class~=triggers] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=trigger],[class~=custom] [class~=trigger][class~=right] {
    width: 2.510416667in;
}
[class~=custom] [class~=trigger][class~=right],[class~=custom] [class~=trigger] {
    height: 114px;
}
[class~=custom] [class~=trigger] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/triggers.png')
}
[class~=custom] [class~=trigger] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=bumper] {
    width: 13pc;
}
[class~=custom] [class~=bumper] {
    height: 333px;
}
[class~=custom] [class~=bumper] {
    left: 9.6875pc;
}
[class~=custom] [class~=bumper] {
    top: 11.1875pc;
}
[class~=custom] [class~=trigger][class~=left] {
    background-position-x: 90pt;
}
[class~=custom] [class~=bumper] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/bumpers.png')
   }
[class~=custom] [class~=trigger][class~=right] {
    float: right;
}
[class~=custom] [class~=bumper] {
    opacity: 0;
}
[class~=custom] [class~=bumper] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=quadrant] {
    background: url("http://bit.ly/33UddCD");
}
[class~=custom] [class~=quadrant],[class~=custom] [class~=bumper][class~=pressed] {
    opacity: 1;
}
[class~=custom] [class~=trigger][class~=right] {
    left: 746px;
}
[class~=custom] [class~=trigger][class~=right] {
    background-position-x: -120px;
}
[class~=custom] [class~=quadrant] {
    top: 8.75pc;
}
[class~=custom] [class~=quadrant] {
    left: 2.5in;
}
[class~=custom] [class~=quadrant] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=p0] {
    background-position: 0 -4.5pt;
}
[class~=custom] [class~=p1] {
    background-position: 0 -1.75pc;
}
[class~=custom] [class~=p2] {
    background-position: 0 -3.0625pc;
}
[class~=custom] [class~=p3] {
    background-position: 0 -52.5pt;
}
[class~=custom] [class~=bumper][class~=right] {
    -webkit-transform: rotateY(180deg);
}
[class~=custom] [class~=bumper][class~=right] {
    transform: rotateY(180deg);
}
[class~=custom] [class~=bumper][class~=right] {
    float: left;
}
[class~=custom] [class~=bumper][class~=right] {
    left: 42.875pc;
}
[class~=custom] [class~=bumper][class~=left] {
    float: right;
}
[class~=custom][class~=disconnected] div {
    display: none;
}
@keyframes Callback {
    0% {
        background-position: 108px -600px,0px 0px;
   }
    .5% {
        background-position: 108px -600px,0px 0px;
   }
    1% {
        background-position: 108px -150px,0px 0px;
   }
    1.2% {
        background-position: 108px -150px,0px 0px;
   }
    1.7% {
        background-position: 108px -600px,0px 0px;
   }
    100% {
        background-position: 108px -600px,0px 0px;
   }
}
[class~=custom] [class~=start],[class~=custom] [class~=abxy],[class~=custom] [class~=arrows],[class~=custom] [class~=back] {
    position: absolute;
}
[class~=custom] [class~=arrows] {
    width: 2.135416667in;
}
[class~=custom] [class~=arrows] {
    height: .197916667in;
}
[class~=custom] .start[class~=pressed],[class~=custom] .back[class~=pressed] {
    top: -15px;
}
[class~=custom] .start[class~=pressed],[class~=custom] .back[class~=pressed] {
    opacity: 1;
}
[class~=custom] [class~=stick][class~=pressed][class~=right],[class~=custom] [class~=stick][class~=pressed][class~=left] {
    background-position-x: -118px;
}
[class~=custom] [class~=arrows] {
    top: 2.604166667in;
}
[class~=custom] [class~=button][class~=pressed] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/buttons.png')
}
[class~=custom] [class~=button][class~=pressed] {
    height: 158.25pt;
}
[class~=custom] [class~=arrows] {
    left: 291px;
}
[class~=custom] [class~=arrows],[class~=custom] [class~=face].right[class~=pressed] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=back] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/back.png')
}
[class~=custom] [class~=back],[class~=custom] [class~=start] {
    width: 2.125pc;
}
[class~=custom] [class~=start],[class~=custom] [class~=back] {
    height: 3.1875pc;
}
[class~=custom] .a[class~=pressed],[class~=custom] [class~=back] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=start] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/start.png')
}
[class~=custom] [class~=button][class~=pressed] {
    width: 2.197916667in;
}
[class~=custom] [class~=face].right[class~=pressed] {
    transform: rotate(180deg);
}
[class~=custom] [class~=sticks],[class~=custom] [class~=b][class~=pressed],[class~=custom] [class~=abxy],[class~=custom] [class~=start] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] [class~=face].right[class~=pressed] {
    top: 337px;
}
[class~=custom] [class~=button][class~=pressed] {
    top: 16.25pc;
}
[class~=custom] [class~=button][class~=pressed] {
    left: 722px;
}
[class~=custom] [class~=button][class~=pressed] {
    background-position-y: 0pt;
}
[class~=custom] [class~=face].right[class~=pressed] {
    left: 235px;
}
[class~=custom] [class~=button][class~=pressed] {
    margin-top: 0pc;
}
[class~=custom] .a[class~=pressed] {
    clip: rect(0px,144px,70px,0px);
}
[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] [class~=face].right[class~=pressed] {
    width: .739583333in;
}
[class~=custom] [class~=back] {
    left: -.625pc;
}
[class~=custom] [class~=back] {
    float: left;
}
[class~=custom] .a[class~=pressed] {
    background-position-y: -8.9375pc;
}
[class~=custom] [class~=face].right[class~=pressed],[class~=custom] [class~=face][class~=left][class~=pressed] {
    height: 3.625pc;
}
[class~=custom] [class~=start],[class~=custom] [class~=back] {
    width: 28.5pt;
}
[class~=custom] [class~=back],[class~=custom] [class~=start] {
    height: .572916667in;
}
[class~=custom] [class~=face][class~=left][class~=pressed] {
    transform: rotate(0deg);
}
[class~=custom] .a[class~=pressed] {
    top: 25.1875pc;
}
[class~=custom] [class~=start],[class~=custom] [class~=back] {
    opacity: 0;
}
[class~=custom] [class~=start] {
    transform: rotate(24deg);
}
[class~=custom] [class~=start] {
    left: 443px;
}
[class~=custom] [class~=start] {
    float: right;
}
[class~=custom] [class~=x][class~=pressed],[class~=custom] [class~=b][class~=pressed] {
    clip: rect(0px,72px,140px,0px);
}
[class~=custom] [class~=b][class~=pressed] {
    background-position-x: -144px;
}
[class~=custom] .stick,[class~=custom] [class~=face],[class~=custom] [class~=touchpad][class~=pressed],[class~=custom] [class~=button],[class~=custom] .meta,[class~=custom] [class~=sticks] {
    position: absolute;
}
[class~=custom] [class~=b][class~=pressed] {
    left: 866px;
}
[class~=custom] [class~=face][class~=left][class~=pressed] {
    left: 8.75pc;
}
[class~=custom] [class~=sticks] {
    width: 273pt;
}
[class~=custom] [class~=sticks] {
    height: 75pt;
}
[class~=custom] [class~=sticks] {
    top: 4.5625in;
}
[class~=custom] [class~=sticks] {
    left: 20.0625pc;
}
[class~=custom] .stick {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/sticks.png')
}
[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] .stick,[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=x][class~=pressed],[class~=custom] [class~=y][class~=pressed],[class~=custom] [class~=dpad] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=y][class~=pressed] {
    clip: rect(0px,144px,70px,0px);
}
[class~=custom] [class~=stick][class~=right],[class~=custom] [class~=stick][class~=left] {
    top: 1.5pt;
}
[class~=custom] .stick {
    height: 116px;
}
[class~=custom] [class~=stick][class~=left] {
    left: -.09375in;
}
[class~=custom] [class~=stick][class~=right] {
    left: 225.75pt;
}
[class~=custom] [class~=meta][class~=pressed] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/menus.png')
}
[class~=custom] .stick {
    width: 87pt;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    top: 1.9375in;
}
[class~=custom] .meta {
    width: .552083333in;
}
[class~=custom] .meta {
    height: .15625in;
}
[class~=custom] .meta {
    left: 374.25pt;
}
[class~=custom] .meta {
    top: 34.0625pc;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    left: 247.5pt;
}
[class~=custom] [class~=dpad] {
    height: 39pc;
}
[class~=custom] [class~=face][class~=up][class~=pressed] {
    transform: rotate(90deg);
}
[class~=custom] [class~=touchpad][class~=pressed] {
    height: 2.21875in;
}
[class~=custom] [class~=dpad] {
    width: 630pt;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    width: 391px;
}
[class~=custom] [class~=face][class~=up][class~=pressed] {
    top: 289px;
}
[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    left: 11.6875pc;
}
[class~=custom] [class~=face] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/dpad.png')
}
[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    width: 71px;
}
[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    height: .604166667in;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/touchpad.png')
}
[class~=custom] [class~=face][class~=down][class~=pressed] {
    transform: rotate(-90deg);
}
[class~=custom] [class~=face] {
    top: 21.0625pc;
}
[class~=custom] [class~=touchpad][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=face][class~=down][class~=pressed] {
    top: 4.010416667in;
}
[class~=custom] [class~=face] {
    left: 8.75pc;
}
[class~=controller][class~=custom] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/base.png')
}

[class~=controller][class~=custom] {
    height: 637.5pt;
}
[class~=controller][class~=custom] {
    width: 787.5pt;
}
[class~=controller][class~=custom] {
    background-position: 0px 0px,0px 0pc;
}
[class~=controller][class~=custom] {
    background-repeat: no-repeat,no-repeat;
}
[class~=controller][class~=custom] {
    -webkit-animation: Callback 600s infinite;
}
[class~=controller][class~=custom] {
    -webkit-animation-delay: 0s;
}
[class~=controller][class~=custom] {
    -webkit-animation-fill-mode: forwards;
}
[class~=custom][class~=disconnected] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/disconnect.png')
}
@keyframes Callback {
    0% {
        background-position: 108px -600px,0px 0px;
   }
    .5% {
        background-position: 108px -600px,0px 0px;
   }
    1% {
        background-position: 108px -150px,0px 0px;
   }
    1.2% {
        background-position: 108px -150px,0px 0px;
   }
    1.7% {
        background-position: 108px -600px,0px 0px;
   }
    100% {
        background-position: 108px -600px,0px 0px;
   }
}
[class~=custom] [class~=triggers] {
    width: 153pt;
}
[class~=custom] [class~=triggers] {
    height: 5.75pc;
}
[class~=custom] [class~=triggers] {
    top: 13px;
}
[class~=custom] [class~=triggers][class~=left] {
    float: left;
}
[class~=custom] [class~=triggers] {
    left: 20px;
}
[class~=custom] [class~=trigger][class~=right],[class~=custom] [class~=trigger][class~=left] {
    top: 31.5pt;
}
[class~=custom] [class~=trigger][class~=right],[class~=custom] [class~=trigger][class~=left],[class~=custom] [class~=triggers],[class~=custom] [class~=bumper],[class~=custom] [class~=quadrant] {
    position: absolute;
}
[class~=custom] [class~=trigger][class~=left] {
    left: .229166667in;
}
[class~=custom] [class~=triggers] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=trigger],[class~=custom] [class~=trigger][class~=right] {
    width: 2.510416667in;
}
[class~=custom] [class~=trigger][class~=right],[class~=custom] [class~=trigger] {
    height: 114px;
}
[class~=custom] [class~=trigger] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/triggers.png')
}
[class~=custom] [class~=trigger] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=bumper] {
    width: 13pc;
}
[class~=custom] [class~=bumper] {
    height: 333px;
}
[class~=custom] [class~=bumper] {
    left: 9.6875pc;
}
[class~=custom] [class~=bumper] {
    top: 11.1875pc;
}
[class~=custom] [class~=trigger][class~=left] {
    background-position-x: 90pt;
}
[class~=custom] [class~=bumper] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/bumpers.png')
   }
[class~=custom] [class~=trigger][class~=right] {
    float: right;
}
[class~=custom] [class~=bumper] {
    opacity: 0;
}
[class~=custom] [class~=bumper] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=quadrant] {
    background: url("http://bit.ly/33UddCD");
}
[class~=custom] [class~=quadrant],[class~=custom] [class~=bumper][class~=pressed] {
    opacity: 1;
}
[class~=custom] [class~=trigger][class~=right] {
    left: 746px;
}
[class~=custom] [class~=trigger][class~=right] {
    background-position-x: -120px;
}
[class~=custom] [class~=quadrant] {
    top: 8.75pc;
}
[class~=custom] [class~=quadrant] {
    left: 2.5in;
}
[class~=custom] [class~=quadrant] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=p0] {
    background-position: 0 -4.5pt;
}
[class~=custom] [class~=p1] {
    background-position: 0 -1.75pc;
}
[class~=custom] [class~=p2] {
    background-position: 0 -3.0625pc;
}
[class~=custom] [class~=p3] {
    background-position: 0 -52.5pt;
}
[class~=custom] [class~=bumper][class~=right] {
    -webkit-transform: rotateY(180deg);
}
[class~=custom] [class~=bumper][class~=right] {
    transform: rotateY(180deg);
}
[class~=custom] [class~=bumper][class~=right] {
    float: left;
}
[class~=custom] [class~=bumper][class~=right] {
    left: 42.875pc;
}
[class~=custom] [class~=bumper][class~=left] {
    float: right;
}
[class~=custom][class~=disconnected] div {
    display: none;
}
@keyframes Callback {
    0% {
        background-position: 108px -600px,0px 0px;
   }
    .5% {
        background-position: 108px -600px,0px 0px;
   }
    1% {
        background-position: 108px -150px,0px 0px;
   }
    1.2% {
        background-position: 108px -150px,0px 0px;
   }
    1.7% {
        background-position: 108px -600px,0px 0px;
   }
    100% {
        background-position: 108px -600px,0px 0px;
   }
}
[class~=custom] [class~=start],[class~=custom] [class~=abxy],[class~=custom] [class~=arrows],[class~=custom] [class~=back] {
    position: absolute;
}
[class~=custom] [class~=arrows] {
    width: 2.135416667in;
}
[class~=custom] [class~=arrows] {
    height: .197916667in;
}
[class~=custom] .start[class~=pressed],[class~=custom] .back[class~=pressed] {
    top: -15px;
}
[class~=custom] .start[class~=pressed],[class~=custom] .back[class~=pressed] {
    opacity: 1;
}
[class~=custom] [class~=stick][class~=pressed][class~=right],[class~=custom] [class~=stick][class~=pressed][class~=left] {
    background-position-x: -118px;
}
[class~=custom] [class~=arrows] {
    top: 2.604166667in;
}
[class~=custom] [class~=button][class~=pressed] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/buttons.png')
}
[class~=custom] [class~=button][class~=pressed] {
    height: 158.25pt;
}
[class~=custom] [class~=arrows] {
    left: 291px;
}
[class~=custom] [class~=arrows],[class~=custom] [class~=face].right[class~=pressed] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=back] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/back.png')
}
[class~=custom] [class~=back],[class~=custom] [class~=start] {
    width: 2.125pc;
}
[class~=custom] [class~=start],[class~=custom] [class~=back] {
    height: 3.1875pc;
}
[class~=custom] .a[class~=pressed],[class~=custom] [class~=back] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=start] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/start.png')
}
[class~=custom] [class~=button][class~=pressed] {
    width: 2.197916667in;
}
[class~=custom] [class~=face].right[class~=pressed] {
    transform: rotate(180deg);
}
[class~=custom] [class~=sticks],[class~=custom] [class~=b][class~=pressed],[class~=custom] [class~=abxy],[class~=custom] [class~=start] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] [class~=face].right[class~=pressed] {
    top: 337px;
}
[class~=custom] [class~=button][class~=pressed] {
    top: 16.25pc;
}
[class~=custom] [class~=button][class~=pressed] {
    left: 722px;
}
[class~=custom] [class~=button][class~=pressed] {
    background-position-y: 0pt;
}
[class~=custom] [class~=face].right[class~=pressed] {
    left: 235px;
}
[class~=custom] [class~=button][class~=pressed] {
    margin-top: 0pc;
}
[class~=custom] .a[class~=pressed] {
    clip: rect(0px,144px,70px,0px);
}
[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] [class~=face].right[class~=pressed] {
    width: .739583333in;
}
[class~=custom] [class~=back] {
    left: -.625pc;
}
[class~=custom] [class~=back] {
    float: left;
}
[class~=custom] .a[class~=pressed] {
    background-position-y: -8.9375pc;
}
[class~=custom] [class~=face].right[class~=pressed],[class~=custom] [class~=face][class~=left][class~=pressed] {
    height: 3.625pc;
}
[class~=custom] [class~=start],[class~=custom] [class~=back] {
    width: 28.5pt;
}
[class~=custom] [class~=back],[class~=custom] [class~=start] {
    height: .572916667in;
}
[class~=custom] [class~=face][class~=left][class~=pressed] {
    transform: rotate(0deg);
}
[class~=custom] .a[class~=pressed] {
    top: 25.1875pc;
}
[class~=custom] [class~=start],[class~=custom] [class~=back] {
    opacity: 0;
}
[class~=custom] [class~=start] {
    transform: rotate(24deg);
}
[class~=custom] [class~=start] {
    left: 443px;
}
[class~=custom] [class~=start] {
    float: right;
}
[class~=custom] [class~=x][class~=pressed],[class~=custom] [class~=b][class~=pressed] {
    clip: rect(0px,72px,140px,0px);
}
[class~=custom] [class~=b][class~=pressed] {
    background-position-x: -144px;
}
[class~=custom] .stick,[class~=custom] [class~=face],[class~=custom] [class~=touchpad][class~=pressed],[class~=custom] [class~=button],[class~=custom] .meta,[class~=custom] [class~=sticks] {
    position: absolute;
}
[class~=custom] [class~=b][class~=pressed] {
    left: 866px;
}
[class~=custom] [class~=face][class~=left][class~=pressed] {
    left: 8.75pc;
}
[class~=custom] [class~=sticks] {
    width: 273pt;
}
[class~=custom] [class~=sticks] {
    height: 75pt;
}
[class~=custom] [class~=sticks] {
    top: 4.5625in;
}
[class~=custom] [class~=sticks] {
    left: 20.0625pc;
}
[class~=custom] .stick {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/sticks.png')
}
[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] .stick,[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=x][class~=pressed],[class~=custom] [class~=y][class~=pressed],[class~=custom] [class~=dpad] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=y][class~=pressed] {
    clip: rect(0px,144px,70px,0px);
}
[class~=custom] [class~=stick][class~=right],[class~=custom] [class~=stick][class~=left] {
    top: 1.5pt;
}
[class~=custom] .stick {
    height: 116px;
}
[class~=custom] [class~=stick][class~=left] {
    left: -.09375in;
}
[class~=custom] [class~=stick][class~=right] {
    left: 225.75pt;
}
[class~=custom] [class~=meta][class~=pressed] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/menus.png')
}
[class~=custom] .stick {
    width: 87pt;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    top: 1.9375in;
}
[class~=custom] .meta {
    width: .552083333in;
}
[class~=custom] .meta {
    height: .15625in;
}
[class~=custom] .meta {
    left: 374.25pt;
}
[class~=custom] .meta {
    top: 34.0625pc;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    left: 247.5pt;
}
[class~=custom] [class~=dpad] {
    height: 39pc;
}
[class~=custom] [class~=face][class~=up][class~=pressed] {
    transform: rotate(90deg);
}
[class~=custom] [class~=touchpad][class~=pressed] {
    height: 2.21875in;
}
[class~=custom] [class~=dpad] {
    width: 630pt;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    width: 391px;
}
[class~=custom] [class~=face][class~=up][class~=pressed] {
    top: 289px;
}
[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    left: 11.6875pc;
}
[class~=custom] [class~=face] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/dpad.png')
}
[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    width: 71px;
}
[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    height: .604166667in;
}
[class~=custom] [class~=touchpad][class~=pressed] {
    background: url('https://raw.githubusercontent.com/notcv6/notcv6/main/files/touchpad.png')
}
[class~=custom] [class~=face][class~=down][class~=pressed] {
    transform: rotate(-90deg);
}
[class~=custom] [class~=face] {
    top: 21.0625pc;
}
[class~=custom] [class~=touchpad][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    background-repeat: no-repeat;
}
[class~=custom] [class~=face][class~=down][class~=pressed] {
    top: 4.010416667in;
}
[class~=custom] [class~=face] {
    left: 8.75pc;
}

/*BEGIN PS5 Controller Styling*/
.controller.ds5 {
   background: url(base.svg);
   height: 598px;
   width: 806px;
   /*    margin-left: -403px;
       margin-top: -280px;*/
}

.ds5.disconnected {
   background: url(disconnected.svg);
}

.ds5.disconnected div {
   display: none;
}

.ds5 .triggers {
   width: 588px;
   height: 90px;
   position: absolute;
   left: 109px;
}

.ds5 .trigger {
   width: 99px;
   height: 100%;
   background: url(triggers.svg);
   opacity: 0;
}

.ds5 .trigger.left {
   float: left;
}

.ds5 .trigger.right {
   float: right;
   background-position-x: 99px;
}

.ds5 .bumper {
   width: 99px;
   height: 23px;
   background: url(bumper.svg) no-repeat;
   opacity: 0;
}

.ds5 .bumpers {
   position: absolute;
   width: 588px;
   height: 23px;
   left: 109px;
   top: 94px;
}

.ds5 .bumper.pressed {
   opacity: 1;
}

.ds5 .bumper.left {
   /* -webkit-transform: rotateY(180deg); */
   /* transform: rotateY(180deg); */
   float: left;
}

.ds5 .bumper.right {
   float: right;
   transform: rotateY(180deg);
}

.ds5 .touchpad {
   width: 262px;
   height: 151px;
   position: absolute;
   left: 272px;
   top: 122px;
}

.ds5 .touchpad.pressed {
   background: url(touchpad.svg) no-repeat center;
}

.ds5 .meta {
   width: 42px;
   height: 42px;
   position: absolute;
   left: 382px;
   bottom: 216px;
}

.ds5 .meta.pressed {
   background: url(meta.svg) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds5 .quadrant{
position: absolute;
background: url(player-n.svg);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds5 .p0{
background-position: 0 -6px;
}
.ds5 .p1{
background-position: 0 -28px;
}
.ds5 .p2{
background-position: 0 -49px;
}
.ds5 .p3{
background-position: 0 -70px;
}*/
.ds5 .arrows {
   position: absolute;
   width: 352px;
   height: 46px;
   top: 142px;
   left: 227px;
}

.ds5 .back, .ds5 .start {
   background: url(start.svg);
   width: 28px;
   height: 46px;
   opacity: 0;
}

.ds5 .back.pressed, .ds5 .start.pressed {
   /* background-position-y: -21px; */
   /* margin-top: 2px; */
   opacity: 1;
}

.ds5 .back {
   float: left;
   /* width: 28px; */
}

.ds5 .start {
   float: right;
   /* width: 28px; */
   background-position: 28px 0;
}

.ds5 .abxy {
   position: absolute;
   width: 170px;
   height: 171px;
   top: 159px;
   left: 567px;
}

.ds5 .button {
   position: absolute;
   width: 55px;
   height: 55px;
   background: url(face.svg);
}

.ds5 .button.pressed {
   background-position-y: 55px;
   /* margin-top: 5px; */
}

.ds5 .a {
   background-position: 0 0;
   bottom: 0;
   left: 58px;
}

.ds5 .b {
   background-position: -57px 0;
   top: 58px;
   right: 0px;
}

.ds5 .x {
   background-position: -113px 0;
   top: 58px;
}

.ds5 .y {
   background-position: 55px 0;
   left: 58px;
}

.ds5 .sticks {
   position: absolute;
   width: 361px;
   height: 105px;
   top: 308px;
   left: 228px;
}

.ds5 .stick {
   position: absolute;
   background: url(sticks.svg);
   height: 94px;
   width: 94px;
}

.ds5 .stick.pressed.left {
   background-position-x: -96px;
}

.ds5 .stick.pressed.right {
   background-position-x: -192px;
}

.ds5 .stick.left {
   top: 0;
   left: 0;
}

.ds5 .stick.right {
   top: calc(100% - 105px);
   left: calc(100% - 105px);
}

.ds5 .dpad {
   position: absolute;
   width: 125px;
   height: 126px;
   top: 181px;
   left: 92px;
}

.ds5 .face {
   background: url(dpad.svg);
   position: absolute;
}

.ds5 .face.up, .ds5 .face.down {
   width: 36px;
   height: 52px;
}

.ds5 .face.left, .ds5 .face.right {
   width: 52px;
   height: 36px;
}

.ds5 .face.up {
   left: 44px;
   top: 0;
   background-position: -37px 0px;
}

.ds5 .face.down {
   left: 44px;
   bottom: 0;
   background-position: 0px 0;
}

.ds5 .face.left {
   top: 45px;
   left: 0;
   background-position: 104px 0;
}

.ds5 .face.right {
   top: 45px;
   right: 0px;
   background-position: 52px 0;
}

.ds5 .face.pressed {
   /* margin-top: 5px; */
   background-position-y: 52px;
}

.ds5.half {
   margin-top: -300px;
}

/*END PS5 Controller Styling*/
#sleek-button{
    display: none;
}
